*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

/*Barra superior de navegación*/
.navbar{
	background: transparent;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	padding: 8px 12px 8px 12px;
	z-index: 999;
}

.navbar-logo{
	margin-left: 14px;
	height: 70px;
}

.navbar-options{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 210px;
	margin-left: 2%;
}

.navbar-options a{
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	background-image: linear-gradient(90deg, #fb2d6d, #f89400, #04a3b7);
	background-repeat: no-repeat;
	background-size: 0% 2px;
	background-position: left bottom;
	transition: background-size 0.3s ease-in-out;
}

.navbar a:hover{
	color: #079cc7;
	background-size: 100% 2px;
}

/*Barra superior de navegación responsive para tablets*/
@media (max-width: 834px){
	.navbar-logo{
		height: 60px;
	}

	.navbar-options a{
		font-size: 18px;
	}
}

/*Publicaciones*/
.publicaciones-container{
	width: 100%;
	height: auto;
	min-height: 100vh;
	background: #071441;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.publicaciones-container h2{
	color: #ffffff;
	font-size: 32px;
	margin-bottom: 1%;
}

.table-container{
	width: 80%;
	border: solid 2px #0e2951;
}

.tabla_publicaciones{
	color: #ffffff;
	width: 100%;
	font-size: 20px;
	border-collapse: collapse;
}

.tabla_publicaciones th, .tabla_publicaciones td{
	padding: 6px 4px 2px 4px;
	text-align: center;
}

.tabla_publicaciones th{
	background: #0e2951;
}

.tabla_publicaciones td{
	border-bottom: solid 2px #0e2951;
}

.tabla_publicaciones img {
    max-width: 100px;
    height: auto; 
}

.tabla_publicaciones svg{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.tabla_publicaciones svg path{
	transition: fill 0.3s ease;
}

.tabla_publicaciones svg path:hover{
	fill: #079cc7;
}