*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	background: #071441;
}

/*Barra superior de navegación*/
.navbar{
	background: #071441;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	padding: 8px 12px;
	z-index: 999;
}

.navbar-logo{
	margin-left: 14px;
	height: 70px;
}

.navbar-options{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 280px;
	margin-left: 2%;
}

.navbar-options a{
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	background-image: linear-gradient(90deg, #fb2d6d, #f89400, #04a3b7);
	background-repeat: no-repeat;
	background-size: 0% 2px;
	background-position: left bottom;
	transition: background-size 0.3s ease-in-out;
}

.navbar a:hover{
	color: #079cc7;
	background-size: 100% 2px;
}

/*Barra superior de navegación responsive para tablets*/
@media (max-width: 834px){
	.navbar-logo{
		height: 60px;
	}

	.navbar-options a{
		font-size: 18px;
	}
}

/*Noticia*/
.main-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: calc(1% + 92px);
	padding-bottom: 2%;
}

.post-container{
	width: 70%;
	padding-right: 18px;
}

.post-container h2{
	color: #ffffff;
	font-size: 38px;
	margin-bottom: 2px;
}

.post-date{
	color: #079cc7;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 6px;
}

.post-body{
	color: #ffffff;
	font-size: 18px;
}

.post-container img{
	width: 100%;
	height: auto;
}

/*Apartado de más noticias*/
.moreposts-container{
	width: 30%;
	height: auto;
	padding: 0 18px 18px 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.moreposts-container h3{
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.otherpost{
	width: 100%;
	padding: 22px 0;
	border-top: solid 2px #079cc7;
}

.otherpost img{
	width: 100%;
	height: auto;
	cursor: pointer;
}

.otherpost h4{
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

/*Estilos de ver post para el admin*/
.post-container-admin{
	width: 100%;
	padding-right: 0;
}

.main-container-admin{
	width: 75%;
}

/*Footer*/
.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5%;
	background: #071441;
}

.footer-logo{
	height: 120px;
}

.footer-socialmedia-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-socialmedia{
	display: flex;
}

.footer-socialmedia-item{
	margin-right: 18px;
}

.footer-socialmedia-item-link svg{
	width: 30px;
	height: 30px;
}

.footer-socialmedia-item-link svg path{
	transition: fill 0.3s ease;
}

.footer-socialmedia-item-link:hover svg path{
	fill: #079cc7;
}

/*Footer responsive para tablets*/
@media (max-width: 834px){
	.footer-logo{
		height: 100px;
	}

	.footer-socialmedia-item-link svg{
		width: 25px;
		height: 25px;
	}
}

/*Footer responsive para celulares*/
@media (max-width: 480px){
	.footer-logo{
		height: 80px;
	}
}